.logo {
    position: absolute;
    width: 75px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .logo {
        position: relative;
        width: 75px;
        margin: 10px;
    }
}