# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/sad-marriage-pact/node_modules
/sad-marriage-pact/.pnp
/sad-marriage-pact.pnp.js
/api/env

# testing
/sad-marriage-pact/coverage

# production
/sad-marriage-pact/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
